.App {
  text-align: center;
}

.navbar {
  background: #0082e6;
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
}

.navDiv {
  display: inline-block;
  padding: 0px 20px;
}

.Footer {
  background: #0082e6;
  position: fixed;
  height: 20px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-container {
  display: flex;
}
